@page
@model PetHotelApplicationRazorPage.Pages.User.Feedbacks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid py-5">
    <div class="container">
        <h2 class="text-primary">Are you sure you want to delete this feedback ?</h2>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Feedback.Comment)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Feedback.Comment)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Feedback.Rating)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Feedback.Rating)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Feedback.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Feedback.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Feedback.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Feedback.User.FullName)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Feedback.Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-secondary ms-2" asp-page="/User/Feedbacks/Index">Back to List</a>
            </form>
        </div>

    </div>
</div>