@page
@model PetHotelApplicationRazorPage.Pages.Manager.AccommodationManage.EditModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h4 class="mb-0">Edit Accommodation</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="Accommodation.Id" />
                    <dl class="row">
                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Accommodation.Name)
                        </dt>
                        <dd class="col-sm-10">
                            <input asp-for="Accommodation.Name" class="form-control" />
                            <span asp-validation-for="Accommodation.Name" class="text-danger"></span>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @if (TempData["ErrorName"] != null)
                            {
                                <div class="alert alert-danger">
                                    <span>@TempData["ErrorName"] </span>
                                </div>
                            }

                        </dd>
                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Accommodation.Type)
                        </dt>
                        <dd class="col-sm-10">
                            <select asp-for="Accommodation.Type" class="form-control" asp-items="ViewBag.AccommodationType"></select>
                        </dd>

                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Accommodation.Capacity)
                        </dt>
                        <dd class="col-sm-10">
                            <input asp-for="Accommodation.Capacity" class="form-control" />
                            <span asp-validation-for="Accommodation.Capacity" class="text-danger"></span>

                            @if (TempData["ErrorCapacity"] != null)
                            {
                                <div class="alert alert-danger">
                                    <span>@TempData["ErrorCapacity"] </span>
                                </div>
                            }

                        </dd>

                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Accommodation.Description)
                        </dt>
                        <dd class="col-sm-10">
                            <input asp-for="Accommodation.Description" class="form-control" />
                            <span asp-validation-for="Accommodation.Description" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Accommodation.Price)
                        </dt>
                        <dd class="col-sm-10">
                            <input asp-for="Accommodation.Price" class="form-control" />
                            <span asp-validation-for="Accommodation.Price" class="text-danger"></span>
                        </dd>
                    </dl>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
