@page
@model PetHotelApplicationRazorPage.Pages.Manager.AccommodationManage.IndexModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Index";

    var prevDisabled = !Model.Accommodation.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Accommodation.HasNextPage ? "disabled" : "";

    var minPage = Math.Max(1, Model.Accommodation.PageIndex - 2);
    var maxPage = Math.Min(minPage + 4, Model.Accommodation.TotalPages);

    var currentPageIndex = Model.Accommodation.PageIndex;
}

<div class="container-fluid ">
    <div class="container">
        <div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">Accommodations</h2>
                <a class="btn btn-success" asp-page="Create">Create New Accommodation</a>
            </div>
            <div class="card shadow-lg">
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accommodation[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accommodation[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accommodation[0].Capacity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accommodation[0].Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accommodation[0].Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accommodation[0].Price)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Accommodation)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Capacity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                        @if (!item.Status.Equals("Inactive"))
                                        {
                                            <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" style="display:inline;" asp-route-pageIndex="@currentPageIndex">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-page-handler="Active" asp-route-id="@item.Id" style="display:inline;" asp-route-pageIndex="@currentPageIndex">
                                                <button type="submit" class="btn btn-success btn-sm">Active</button>
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-lg m-0">
                                <li class="page-item @prevDisabled">
                                    <a class="page-link rounded-0" aria-label="Previous"
                                       asp-page="./Index"
                                       asp-route-pageIndex="@(Model.Accommodation.PageIndex - 1)">
                                        <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                                    </a>
                                </li>

                                @for (var i = minPage; i <= maxPage; i++)
                                {
                                    <li class="page-item @(Model.Accommodation.PageIndex == i ? "active" : "")">
                                        <a class="page-link" asp-page="./Index"
                                           asp-route-pageIndex="@i">@i</a>
                                    </li>
                                }

                                <li class="page-item @nextDisabled">
                                    <a class="page-link rounded-0" aria-label="Next"
                                       asp-page="./Index"
                                       asp-route-pageIndex="@(Model.Accommodation.PageIndex + 1)">
                                        <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
