@page
@model PetHotelApplicationRazorPage.Pages.User.Pets.IndexModel

@{
    ViewData["Title"] = "Your Pets";

    var prevDisabled = !Model.Pet.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Pet.HasNextPage ? "disabled" : "";

    // Paging to show at max 5 pages
    var minPage = Math.Max(1, Model.Pet.PageIndex - 2);
    var maxPage = Math.Min(minPage + 4, Model.Pet.TotalPages);
}

<div class="container py-5">
    <div class="row g-5">
        <!-- Blog list Start -->
        <div class="col-lg-8">
            @foreach (var item in Model.Pet)
            {
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="@item.Avatar" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3 d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="12px" width="12px" version="1.1" id="Capa_1" viewBox="0 0 84.541 84.541" xml:space="preserve">
                                        <path style="fill:#010002;" d="M84.449,34.955c-0.515-5.05-3.149-9.294-7.219-11.638c-2.137-1.235-4.592-1.882-7.108-1.882   c-0.018,0-0.036,0.004-0.054,0.004C69.901,13.432,65.46,6.625,58.327,4.71c-1.231-0.329-2.502-0.497-3.779-0.497   c-4.62,0-8.972,2.201-12.275,5.805c-3.303-3.604-7.655-5.805-12.275-5.805c-1.278,0-2.548,0.168-3.786,0.497   c-7.129,1.911-11.57,8.722-11.739,16.728c-0.018,0-0.036-0.004-0.054-0.004c-2.516,0-4.975,0.651-7.1,1.879   c-4.076,2.348-6.71,6.592-7.226,11.642c-0.412,4.041,0.569,8.353,2.756,12.147c2.344,4.073,5.808,7.086,9.674,8.672   c-0.734,2.652-1.177,5.39-1.177,8.188c0,15.189,10.142,16.366,13.252,16.366c3.089,0,5.97-0.909,9.019-1.872   c2.895-0.916,5.884-1.865,8.657-1.865c2.774,0,5.766,0.948,8.657,1.865c3.049,0.966,5.93,1.872,9.019,1.872l0,0   c4.527,0,8.321-2.008,10.679-5.655c1.754-2.713,2.573-6.116,2.573-10.712c0-2.799-0.444-5.536-1.177-8.188   c3.869-1.582,7.329-4.595,9.67-8.664C83.88,43.308,84.861,38.996,84.449,34.955z M45.83,21.653c1.521-5.68,6.08-9.394,10.185-8.296   c4.105,1.102,6.195,6.603,4.678,12.279c-1.525,5.676-6.08,9.394-10.185,8.292C46.399,32.829,44.309,27.332,45.83,21.653z    M28.526,13.353c4.101-1.099,8.661,2.616,10.185,8.296c1.521,5.68-0.569,11.177-4.674,12.275   c-4.105,1.102-8.661-2.616-10.185-8.292C22.327,19.956,24.421,14.456,28.526,13.353z M10.596,42.635   c-2.602-4.509-2.079-9.688,1.185-11.567c3.26-1.882,8.009,0.247,10.611,4.76c2.609,4.513,2.079,9.692-1.181,11.57   C17.95,49.278,13.198,47.152,10.596,42.635z M42.269,67.644c-12.139,0-21.981,10.493-21.981-3.683   c0-14.179,14.097-25.668,21.981-25.664c7.884,0.004,21.981,11.485,21.981,25.664C64.25,78.138,54.408,67.644,42.269,67.644z    M73.941,42.635c-2.602,4.517-7.351,6.642-10.615,4.763c-3.26-1.879-3.79-7.061-1.181-11.57c2.602-4.513,7.351-6.642,10.611-4.76   C76.021,32.947,76.543,38.126,73.941,42.635z" />
                                                </svg>
                                        <span class="ms-2">
                                            @item.Species
                                        </span>
                                    </small>

                                    <small>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063q.068.062.132.129.065-.067.132-.129c3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398" />
                                        </svg>
                                        <span class="">
                                            @item.Breed
                                        </span>
                                    </small>
                                </div>
                                <h5 class="text-uppercase mb-3">@item.PetName</h5>
                                <p>Age: @item.Age</p>
                                <a class="text-primary text-uppercase" asp-page="./Details" asp-route-id="@item.Id">View Details<i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- Paging Start -->
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg m-0">
                        <li class="page-item @prevDisabled">
                            <a class="page-link rounded-0" aria-label="Previous"
                               asp-page="./Index"
                               asp-route-pageIndex="@(Model.Pet.PageIndex - 1)"
                               asp-route-currentFilter="@Model.CurrentFilter">
                                <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                            </a>
                        </li>

                        @for (var i = minPage; i <= maxPage; i++)
                        {
                            <li class="page-item @(Model.Pet.PageIndex == i ? "active" : "")">
                                <a class="page-link" asp-page="./Index"
                                   asp-route-pageIndex="@i"
                                   asp-route-currentFilter="@Model.CurrentFilter">@i</a>
                            </li>                        
                        }

                        <li class="page-item @nextDisabled">
                            <a class="page-link rounded-0"aria-label="Next"
                               asp-page="./Index"
                               asp-route-pageIndex="@(Model.Pet.PageIndex + 1)"
                               asp-route-currentFilter="@Model.CurrentFilter">
                                <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Paging End -->
        </div>
        <!-- Blog list End -->
        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- Search Form Start -->
            <div class="mb-5">
                <form class="input-group" method="get" asp-page="./Index">
                    <input type="text" class="form-control p-3" placeholder="Enter Pet Name" name="SearchString" value="@Model.CurrentFilter">
                    <button class="btn btn-primary px-4" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <!-- Search Form End -->
        </div>
        <!-- Sidebar End -->
    </div>
</div>