@page
@model PetHotelApplicationRazorPage.Pages.Staff.ServicesManagement.DetailsModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h4 class="mb-0">Service Details</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.PetCareService.Id" />
                    <dl class="row">
                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.PetCareService.Type)
                        </dt>
                        <dd class="col-sm-10">
                            <input type="text" class="form-control" asp-for="PetCareService.Type" />
                            <span asp-validation-for="PetCareService.Type" class="text-danger"></span>
                            @if (TempData["ErrorType"] != null)
                            {
                                <div class="alert alert-danger">
                                    <span>@TempData["ErrorType"] </span>
                                </div>
                            }
                        </dd>

                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.PetCareService.Description)
                        </dt>
                        <dd class="col-sm-10">
                            <textarea class="form-control fixed-size-textarea" asp-for="PetCareService.Description" rows="5"></textarea>
                            <span asp-validation-for="PetCareService.Description" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.PetCareService.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @* <input type="text" class="form-control" asp-for="PetCareService.Status" />
                            <span asp-validation-for="PetCareService.Status" class="text-danger"></span> *@

                            <select asp-for="PetCareService.Status" class="form-control" asp-items="ViewBag.ServiceStatus" id="status"></select>
                            <span asp-validation-for="PetCareService.Status" class="text-danger"></span>

                            @if (TempData["ErrorStatus"] != null)
                            {
                                <div class="alert alert-danger">
                                    <span>@TempData["ErrorStatus"] </span>
                                </div>
                            }
                        </dd>

                        <dt class="col-sm-2 font-weight-bold">
                            @Html.DisplayNameFor(model => model.PetCareService.Price)
                        </dt>
                        <dd class="col-sm-10">
                            <input type="number" class="form-control" asp-for="PetCareService.Price" step="0.01" />
                            <span asp-validation-for="PetCareService.Price" class="text-danger"></span>
                        </dd>

                        @if (Model.ServiceImages != null)
                        {
                            if (Model.ServiceImages.Count() > 0)
                            {
                                <dt class="col-sm-2 font-weight-bold">
                                    Current Images
                                </dt>
                                <dd class="col-sm-10">
                                    <button type="button" class="btn btn-info mb-2" onclick="toggleImageList()">Show/Hide Current Images</button>
                                    <div id="currentImages" class="d-none">
                                        <div class="d-flex flex-wrap">
                                            @foreach (var image in Model.ServiceImages)
                                            {
                                                <div class="img-thumbnail m-2" style="width: 100px; height: 100px; overflow: hidden;">
                                                    <img class="img-fluid"
                                                         src="@image.Image"
                                                         alt="Service Image"
                                                         style="object-fit: cover; object-position: center; height: 100%; width: 100%;">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </dd>
                            }
                        }

                        <dt class="col-sm-2 font-weight-bold">
                            Add New Images
                        </dt>
                        <dd class="col-sm-10">
                            <input type="file" class="form-control" id="imageInput" asp-for="NewServiceImages" multiple onchange="previewImages()" />
                            <span asp-validation-for="NewServiceImages" class="text-danger"></span>
                            <small class="form-text text-muted mt-1">JPG or PNG no larger than 5 MB</small>
                            <div id="imagePreviewContainer" class="mt-3">
                                <div id="imagePreview" class="image-preview d-flex flex-wrap"></div>
                            </div>
                        </dd>

                    </dl>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function previewImages() {
            var preview = document.getElementById('imagePreview');
            var files = document.getElementById('imageInput').files;
            preview.innerHTML = '';
            if (files) {
                for (var i = 0; i < files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = document.createElement('img');
                        img.setAttribute('src', e.target.result);
                        img.setAttribute('class', 'img-thumbnail m-1');
                        img.setAttribute('style', 'max-height: 100px;');
                        preview.appendChild(img);
                    }
                    reader.readAsDataURL(files[i]);
                }
            }
        }

        function toggleImageList() {
            var imageList = document.getElementById('currentImages');
            if (imageList.classList.contains('d-none')) {
                imageList.classList.remove('d-none');
            } else {
                imageList.classList.add('d-none');
            }
        }
    </script>

    <style>
        #imagePreviewContainer {
            max-height: 100px;
            overflow-y: auto;
        }

        .image-preview {
            display: flex;
            flex-wrap: wrap;
        }

            .image-preview img {
                max-height: 100px;
                margin: 5px;
            }

        .fixed-size-textarea {
            height: 80px; /* Adjust height as needed */
            resize: none;
        }
    </style>
}
