@page
@model ServicesModel

@{
    ViewData["Title"] = "Services";

    var prevDisabled = !Model.PetCareService.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PetCareService.HasNextPage ? "disabled" : "";

    // Paging to show at max 5 pages
    var minPage = Math.Max(1, Model.PetCareService.PageIndex - 2);
    var maxPage = Math.Min(minPage + 4, Model.PetCareService.TotalPages);  // Adjusted to show max 5 pages
}

<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Services</h6>
            <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
        </div>

        <div class="my-4">
            <form method="get">
                <div class="form-group">
                    <label asp-for="SearchServices">Search</label>
                    <input asp-for="SearchServices" class="form-control" placeholder="Search services..." />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <a class="btn btn-primary" asp-page="/PetCareServices/ServiceManage/Services">Reset</a>
            </form>
        </div>

        <div class="row g-5">
            @foreach (var item in Model.PetCareService)
            {
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4 h-100 ">
                        <i class="flaticon-house display-1 text-primary me-4 d-flex align-items-center"></i>
                        <div class="overflow-hidden">
                            <h5 class="text-uppercase">@item.Type</h5>
                            <p class="text-truncate">@item.Description</p>
                            <a asp-page="/PetCareServices/ServiceManage/ServiceDetails" asp-route-id="@item.Id" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-12 my-4">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg m-0">
                    <li class="page-item @prevDisabled">
                        <a class="page-link rounded-0" aria-label="Previous"
                           asp-page="/PetCareServices/ServiceManage/Services"
                           asp-route-pageIndex="@(Model.PetCareService.PageIndex - 1)"
                           asp-route-searchServices="@(Model.SearchServices)">
                            <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                        </a>
                    </li>

                    @for (var i = minPage; i <= maxPage; i++)
                    {
                        <li class="page-item @(Model.PetCareService.PageIndex == i ? "active" : "")">
                            <a class="page-link" asp-page="/PetCareServices/ServiceManage/Services"
                               asp-route-pageIndex="@i"
                               asp-route-searchServices="@(Model.SearchServices)">@i</a>
                        </li>
                    }

                    <li class="page-item @nextDisabled">
                        <a class="page-link rounded-0" aria-label="Next"
                           asp-page="/PetCareServices/ServiceManage/Services"
                           asp-route-pageIndex="@(Model.PetCareService.PageIndex + 1)"
                           asp-route-searchServices="@(Model.SearchServices)">
                            <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Paging End -->

    </div>
</div>

<div class="container-fluid bg-testimonial py-5" style="margin: 45px 0;">
    <div class="container py-5">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel bg-white p-5">
                    @foreach (var item in Model.Feedbacks)
                    {
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-4">
                                @if (string.IsNullOrEmpty(item.User.Avatar) || item.User.Avatar.Equals("link"))
                                {
                                    <img class="img-fluid mx-auto" src="~/img/avatar-trang-4.jpg" alt="">
                                }
                                else
                                {
                                    <img class="img-fluid mx-auto" src="@item.User.Avatar" alt="">
                                }
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                    <i class="bi bi-chat-square-quote text-primary"></i>
                                </div>
                            </div>
                            <p>@item.Comment</p>
                            <hr class="w-25 mx-auto">
                            <h5 class="text-uppercase">@item.User.FullName</h5>
                            <span>@item.Date.ToString("dd/MM/yyyy")</span>
                            <div class="mt-2">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= item.Rating)
                                    {
                                        <i class="bi bi-star-fill text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star text-warning"></i>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>