@page
@model ServicesModel

@{
    ViewData["Title"] = "Services";
}

<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Services</h6>
            <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
        </div>

        <div class="my-4">
            <form method="get">
                <div class="form-group">
                    <label asp-for="SearchServices">Search</label>
                    <input asp-for="SearchServices" class="form-control" placeholder="Search services..." />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <div class="row g-5">
            @foreach (var item in Model.PetCareService)
            {
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4 h-100 ">
                        <i class="flaticon-house display-1 text-primary me-4 d-flex align-items-center"></i>
                        <div class="overflow-hidden">
                            <h5 class="text-uppercase">@item.Type</h5>
                            <p class="text-truncate">@item.Description</p>
                            <a asp-page="/PetCareServices/ServiceManage/ServiceDetails" asp-route-id="@item.Id" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid bg-testimonial py-5" style="margin: 45px 0;">
    <div class="container py-5">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel bg-white p-5">
                    @foreach (var item in Model.Feedbacks)
                    {
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-4">
                                @if (string.IsNullOrEmpty(item.User.Avatar) || item.User.Avatar.Equals("link"))
                                {
                                    <img class="img-fluid mx-auto" src="~/img/avatar-trang-4.jpg" alt="">
                                }
                                else
                                {
                                    <img class="img-fluid mx-auto" src="@item.User.Avatar" alt="">
                                }
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                    <i class="bi bi-chat-square-quote text-primary"></i>
                                </div>
                            </div>
                            <p>@item.Comment</p>
                            <hr class="w-25 mx-auto">
                            <h5 class="text-uppercase">@item.User.FullName</h5>
                            <span>@item.Date.ToString("dd/MM/yyyy")</span>
                            <div class="mt-2">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= item.Rating)
                                    {
                                        <i class="bi bi-star-fill text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star text-warning"></i>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>